
#mybar
{
	background-color: #76b852;
}
#frame {
	float: left;
	width: 200px;
	position: fixed;
	overflow: scroll;
	height: 90%;
	top: 60px;
	bottom: 0;
	padding-left: 5px;
	margin-top:18px;
	
	
}

.highlight { background-color: #ffd24c; }

#indexlist
{
	/*list-style-type:none;*/
	text-align: left;	
}

#table, #table1 {
	width: 100%; /* Full width */
	margin-left:100px;
	margin-right:-100px;	
	
	
}



#projectname, #otherprojects
 {
    text-decoration: none;
    color:#ffd24c;
    float:left;

}

#buttonkwic, #buttoncol, #buttonlog
{
	background-color:#ffd24c;
	border-color: #ffd24c;
	color: #487231;
	
}

.modal-header, .modal-footer
{
	background-color: #76b852;
	color: #76b852;
}



#loader {
    
    position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -100px; 
	margin-left : -100px; 
	max-width: 150px;
	max-height: 150px;
	background-color: transparent;
	border: none;   
    
}


