body
{
	padding-left:20px;
	padding-right:20px;
	background-color: #ffa64d;

}

@media (min-width:34em) {
    .card-deck > .card
    {
        width: 29%;
        flex-wrap: wrap;
        flex: initial;
        margin:10px;
    }
}

.card
{
	background-color:  #9bcb80;

}

h1
{
	color:#17240f;
}

.btn-primary
{
	background-color: #f7a138;
	border: #f7a138;
}

.card-link
{
	color: #f7a138;
}

#progressBar
{
	height:20px;
	border:2px solid green;
	display:none;
}

#bar
{
	 height:100%;
	 background:#33dd33;
	 width:0%;
	 display:none;
}

#debug
{
	height:100px;
	border:2px solid green;
	overflow:auto;
	display:none;
}





