body {
	
	background-color: #ffd24c;
}

@media ( min-width :34em) {
	.card-deck>.card {
		width: 29%;
		flex-wrap: wrap;
		flex: initial;
		margin: 10px;
	}
}

.card {
	background-color: #9bcb80;
}

h3 {
	color: #17240f;
	
}

#con
{
	padding-top:80px;
	
}

#logout
{
	
/*	position:fixed;
	top:0;
	float: right;*/
	}

.btn-primary {
	background-color: #f7a138;
	border: #f7a138;
}

.card-link {
	color: #f7a138;
}


#loader {
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -50px; 
	margin-left : -100px; 
	height : auto;
	width: auto;
	max-width: 100px;
	max-height: 100px;
	margin-left: -100px;
	height: auto;
	background-color: transparent;
	border: none;
}


